.input_field {
    margin: 20px 0;
}
.input_field input,.input_field textarea{
    border-radius: 0.625rem;
    border: 1px solid var(--border_color);
    padding: 0.5rem;
    color: var(--main_font_color);
    font-size: 0.9375rem;
    background-color: var(--lighter_bg);
    width: 100%;
}

.submit_btn{
    padding: 0.625rem 0.9375rem ;
    border-radius: 0.625rem;
    min-width: 150px;
    background-color: var(--main_color);
    color: var(--main_font_color);  
    border: 1px solid var(--main_color);
    transition: all .4s;
}
.submit_btn_diabled{
    opacity: .7;
}
.submit_btn:hover{
    scale: 1.05;
}
.select_item label{
    font-size: 17px;
    margin-left: 10px;
}
